
@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Case/Views/Shared/_CaseLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <a asp-action="GetCustomerByTc" asp-controller="Home" class="btn btn-dark float-left">Müşteri Getir</a>
        <a asp-action="Create" asp-controller="Home" class="btn btn-success float-right">Müşteri Oluştur</a>
    </div>
    <div class="card-body">
        <table id="customertable">
            <thead>
                <tr>
                    <th>Müşteri Tc No</th>
                    <th>Müşteri Adı</th>
                    <th>Şirket Adı</th>
                    <th>Email Adresi</th>
                    <th>Telefon Numarası</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TC</td>
                        <td>@item.CustomerName</td>
                        <td>@item.CompanyName</td>
                        <td>@item.EmailAddress</td>
                        <td>@item.Phone</td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
$(document).ready(function () {
            $('#customertable').DataTable();
        });</script>


}
