@model ProductVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <a asp-action="Create" asp-controller="Stock" class="btn btn-success float-right">Stok Ekle</a>
    </div>
    <div class="card-body">
        <table id="producttable" class="table table-striped">
            <thead>
                <tr>
                    <th>Barkod</th>
                    <th>Stok Adı</th>
                    <th>Kategori</th>
                    <th>Kalan Miktar</th>
                    <th>Birim</th>
                    <th>Satış Fiyatı</th>
                    <th>Alış Fiyat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.Products)
                {
    <tr>
        <td>@p.Barcode</td>
        <td>@p.ProductName</td>
        <td>@Model.Categories.Where(x => x.ID == p.CategoryID).FirstOrDefault().CategoryName</td>
        <td>@p.UnitsInStock</td>
        <td>@p.Unit</td>
        <td>@p.SalePrice</td>
        <td>@p.PurchasePrice</td>

        <td>
            <a asp-action="Edit" asp-controller="Stock" asp-route-id="@p.ID" class="btn btn-sm btn-warning">Düzenle</a>
            <a asp-action="Delete" asp-controller="Stock" asp-route-id="@p.ID" class="btn btn-sm btn-danger">Sil</a>

        </td>
    </tr>}
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>$(document).ready(function () {
            $('#producttable').DataTable();
});
       
    </script>
 
   
}

